{% load static %}
<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/lib/bootstrap-5.2.1.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/lib/fontawesome-6.2.0.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/lib/fontawesome-regular-6.2.0.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/lib/fontawesome-solid-6.2.0.min.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <style>{% block custom_styles %}{% endblock %}</style>
    </head>

    <body>

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </body>

</html>
