{% load static %}
<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/lib/bootstrap-5.2.1.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/lib/fontawesome-6.2.0.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/lib/fontawesome-regular-6.2.0.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/lib/fontawesome-solid-6.2.0.min.css' %}" rel="stylesheet">
        <title></title>
    </head>

    <body>

        <div id="main" style="height: 100vh;">

            <nav class="navbar fixed-top bg-light">
                <div class="container-fluid">
                    <button id="node_creation_button" class="btn btn-primary ms-auto" type="button">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </nav>

        </div>

        <script src="{% static 'js/lib/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap-5.2.1.bundle.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            window.csrf_token = '{{ csrf_token }}';
        </script>
    </body>

</html>
